body{
  background-color: #bfe0e2;
  color: #2d464c;
  overflow: hidden;
}

h1{
  text-align: center;
}

.todo-wrapper{
  background-color: #5faab1;
  padding:2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(27,27,27);

}

.todo-input{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #325158;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo-input-item{
  border-color: white;
}

.todo-input-item label{
  
  color: #f2f9f9;
  margin-bottom: 5px;
}

.todo-input-item input{
  padding: 8px;
  border: none;
  width: 250px;
  color: #f2f9f9;
}


.primaryBtn{
  background-color: #438e96;
  color:#f2f9f9;
  border:none;
  border-radius: 0px;
  margin-top: 25px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
}

.primaryBtn:hover{
  background-color: #325836;
}

.secondaryBtn{
  background-color:#3b757f;
  color:#f2f9f9;
  border:none;
  border-radius: 0px;
  margin-top: 25px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}

.active{
  background-color: #bfe0e2;
  color:#3b757f;
}

.todo-list{
  display: flex;
  flex-direction: column;
}

.btn-area{
  margin-bottom: 15px;
}

.todo-list-item,
.todo-list-item-deadline-passed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 5px rgb(43,42,42);
}

.todo-list-item {
  background-color: #3b757f;
}

.todo-list-item-deadline-passed {
  background-color: #797b35
}

.todo-list-item h3,
.todo-list-item-deadline-passed h3 {
  font-size: 25px;
  color: #f2f9f9;
  font-weight: bold;
  margin: 0;
}

.todo-list-item p,
.todo-list-item-deadline-passed p {
  font-size: 14px;
  color: #bfe0e2;
  margin-top: 8px;
  margin-bottom: 8px;
}


.icon{
  font-size:35px;
  cursor: pointer;
}

.icon:hover{
  color: red;
}

.check-icon{
  font-size:35px;
  margin-left: 10px;
  color:#f2f9f9;
}

.check-icon:hover{
  color: rgb(0, 230, 122);
}

.edit-wrapper{
  background-color: #3b757f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-bottom: 15px;
  padding-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 5px rgb(43,42,42);
}


.edit-wrapper input{
  background-color: transparent;
  border:1px solid rgba(211, 211, 211, 0.219);
  padding: 10px;
  margin-top:1px;
  border-radius: 3px;
  color: white;
  width: 300px;
}

.edit-wrapper input:focus{
  outline: 2px solid rgb(0, 230, 122);
  background-color: rgba(41, 40, 40, 0.3);
}

.edit-wrapper .primaryBtn {
  width: fit-content;
  margin: auto; 
  border-radius: 10px;
  font-weight: bold;
}

.edit-wrapper p{
  font-size: 12px;
  margin-bottom: 1px;
  color: rgb(161,161,161)
}

